*{
    margin: 0;
    padding: 0;
}

.service-wrapper{
    animation: transitionIn 0.8s;
}

@keyframes transitionIn{
    from{
        opacity: 0;
        transform: translateY(-10);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.about-service{
    margin: 0;
    width: 100%;
     margin: 5rem 0;
    display: flex;
}

.service{
     margin: 0;
     width: 50%;
      
      padding: 4rem;
      display: flex;
     justify-content: center;
     align-items: center;
}

 .service-text{
    padding: 1rem 4rem 1rem 1rem;
 }

 .lets-work{
     padding:1rem 0;
     
      
 }

 .service-container{
     width: 100%;
     height: fit-content;
 }

.service-container div{
   
    display: flex;
     width: 100%;
     height: 20rem;
}

.service-section{
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 1rem 10rem;
   text-align: center;
   font-style: italic;
 
}
.service-section>h1{
    font-weight: bolder;
}

.service-section:hover{
    background-color:#0E7895 ;
}

.black{
    background-color: black;
}

.grey{
    background-color: grey;
}

.middle{
    color: black;
}
.brands-container{
    width: 100%;
    height: 28rem;
}


@media (max-width:600px){
    .about-service{
       
        width: 100%;
         margin: 3rem 0;
        display: grid;
    }
     
    .service{
        padding: 1rem 2rem;
        margin: 0;
        width: 100%;
    }
    .service h5{
        font-size: 1rem;
    
    }
      .service-container div{
        
        height: 15rem;    
    }
    
.service-section{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem ;
    text-align: center;
    font-style: italic;
    
 }
 .service-section>h1{
     font-size: 1.5rem;
     padding: 1rem;
 }

 .middle{
    color: black;
 }

    
    
}
