@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Playfair+Display+SC&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Playfair+Display&family=Playfair+Display+SC&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lora:wght@500&family=Playfair+Display&family=Playfair+Display+SC&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
}

.tools-wrapper{
    animation: transitionIn 0.8s;
}
.tools-wrapper>div{
    margin: 0;
}
@keyframes transitionIn{
    from{
        opacity: 0;
        transform: translateY(-10);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.tools-container{
    
    background-color: rgb(189, 223, 220);
     padding: 5rem 0;
}
.tools-container>div{
    margin: 0;
}
.organic-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tools-body h2{
    text-align: center;
    text-align: left;
    text-transform: capitalize;
    padding: 1rem 0;
    font-family: 'Lora', sans-serif;
    font-size: 40px;
}
.tools-body{
    padding: 1rem 2rem 1rem 4rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tools-body p{
     
    font-weight: 400;
     
    font-family:'Poppins', sans-serif;
}

.tools-body h1{
    text-align: center;
    color: rgb(18, 19, 19);
     
    font-size: 50px;
    font-family: 'Abril Fatface', sans-serif;
}

 .heading-container{
     padding: 4rem;
 }

 .heading-container h2{
     text-align: center;
     font-size: 3rem;
     padding: 1rem 0;
 }
.slogan-body{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.slogan-body p{
    font-size: 1.1rem;
     color: rgb(75, 75, 75);
     line-height: 1.7;
}
.slogan-img{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 .slogan-img img{
     width:  100% ;
      
     margin: 2rem 2rem;

 }
.power-body{
    text-align: center;
    font-size: 40px;

}

.power-body h2{
    font-family: 'Poppins', sans-serif;
    font-size: 3.2rem;
}

.card{
    border-radius: 10px;
    height:100%;
}

.card-container{
    
    margin:5rem 0;
}
.card-cont{
    width: 100%;
    margin: 0;
}
.card-cont>img{
    width: 100%;
}
.power-card{
    margin: 20px;
    width: 22rem;
    border-radius: 10px;
    margin-left: 2.5rem;
    box-shadow: 5px 5px 5px 5px rgba(46, 46, 46, 0.1);
    transition: transform 0.2s;   
}

.power-card:hover{
    transform:translateY(-20px);
   
}

.card img{
    height: 40vh;
    border-radius: 10px;
}

.card-body h5{
    font-family:'Lora', sans-serif;
    font-size: 1.5rem;
    font-weight:300;
}

.card-text{
    font-family:'Poppins', sans-serif;
    font-size:0.9rem;
    color:#222;
}

.button{
    font-size:15px;
    position: relative;
    font-family: 'Poppins', sans-serif;
    border-radius: 30px;
    color:#222;
    border:1px solid rgb(58, 58, 58);
    font-weight: 550;
}

.button:hover{
    background-color: #222;
    color: aliceblue;
    border: 0px;
}

@media (max-width:760px){
    .tools-container{
    
          padding: 3rem 0;
    }
    .tools-container > div{
        margin: 0;
        padding: 0;
    }
    .tools-body{
        padding: 1rem 2rem;

    }
    .tools-body>h2{
        font-size: 2rem;
    }


    .heading-container{
        padding: 2rem  ;
    }
   
    .heading-container h2{
        text-align: center;
        font-size: 2.2rem;
        padding:  1rem 0;
    }
   .slogan-body{
     padding: 0;
     display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
   }
   .slogan-body p{
       font-size: 1rem;
        color: rgb(75, 75, 75);
        line-height: 1.7;
   }
   .slogan-img{
       width: 100%;
       display: flex;
       flex-direction: column;
       align-items: center;
   }
    .slogan-img img{
        width:  24rem  ;
        margin: 2rem 2rem;
   
    }
 .card-container{
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 3rem 0;
 }
 .power-body h2{
     font-size: 2.5rem;
 }
  .power-card{
      width:calc( 100vw - 7rem ) ;
  }
 .power-card img{
    width:calc( 100vw - 7rem - 2px ) ;

 }
}

@media screen and (min-device-width: 761px) and (max-device-width: 880px) { 
 body>*{
   overflow-x: hidden;
 }
 .power-card{
   margin:2rem 0.8rem;
 }

}