

 @import "~slick-carousel/slick/slick.css";
 @import "~slick-carousel/slick/slick-theme.css";

*{
    margin: 0;
    padding: 0;

}

.carousel-inner{
    padding: 100px ;
    align-items: center;
    z-index: -10;
    background-color:aliceblue;
}
 
.campaign>h1{
    padding-left: 2rem;
    font-size: 2.8rem;
    font-weight: 600;
}

.campaign>p{
    padding: 0 2rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.campaign-card{
    width:22rem;
    height:25rem;
    display: flex;
    display: inline-block;
    margin-left:2rem;
}

.card .campaign-img{
    border-radius: 10px 10px 0 0;
    height:50vh;
}

.card .wrap{
    background-color: #f8971d;
    border-radius: 0 0 10px 10px;
     
}

.wrap .campaign-text{
    font-size: 1.5rem;
    text-align: center;
    font-weight: 500;
    background-color: #f8971d;
}

.wrap .card-info{
    font-size: 1.1rem;
    font-weight: 500;
    font-family: 'Lora', sans-serif;
}







.carousel-items>img{
     
    width: 100%; 
}
.carousel-items{
    position: relative;
}
.carousel-captions{
position: absolute;
bottom: 2rem;
 text-align: center;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 width: 100%;
 color: white;
}
.carousel-captions>h3{
    font-size: 2rem;
}
.carousel-captions>p{
    color: rgb(218, 218, 218);
}
@media (max-width:760px){

   
.carousel-inner{
    padding: 100px 0;
    align-items: center;
    z-index: -10;
    background-color:aliceblue;
}  
 
.carousel-captions>h3{
      display: none;
}
.carousel-captions>p{
   
    display: none;
}
 .carousel-captions{
     overflow: visible;
 }
.carousel-items>img{
     
     width: 100%; 
}
}