*{
    margin: 0;
    padding: 0;

}

.carousel-inner{
    padding: 100px;
    align-items: center;
    z-index: -10;
    background-color:aliceblue;
}

.carousel-indicators{
    height: 20vh;
}

.carousel-control-prev{
    margin-left: 40px;
}

.carousel-control-next{
    margin-right: 40px;
}