
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lora:wght@500&family=Playfair+Display&family=Playfair+Display+SC&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
}

.headLine-container{
    
    width: 100%;
   
}

.headLines{
    margin-left: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 3rem 0;
}

.headline{
    font-family:  sans-serif;
    text-decoration: none;
    font-size: 4.2rem;
    font-weight: 900;
    font-style: italic;
    -webkit-text-stroke-color: black;
   
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1.5px; 
    
}

 
.headline:hover{
    -webkit-text-fill-color: #f8971d;
    -webkit-text-stroke-color:  #f8971d;

}


@media (max-width:760px){

    .headline {
        font-family: sans-serif;
        text-decoration: none;
        font-size: 2rem;
        font-weight: 700;
        font-style: italic;
        -webkit-text-stroke-color: black;
        -webkit-text-fill-color: white;
        -webkit-text-stroke-width: 1.5px;
        
    }
    .headLines{
        margin: 0 1rem;
    }

}