@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Playfair+Display+SC&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Playfair+Display&family=Playfair+Display+SC&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lora:wght@500&family=Playfair+Display&family=Playfair+Display+SC&family=Poppins&display=swap');

*{
    padding: 0;  
    margin: 0;
    scroll-behavior: smooth;
}

.landing-page{
    /* width: 100%; */
   margin: 0;
background-color: #000;
}

/* .video-container{ */
    /* object-fit:cover; */
    /* position:relative; */
     
    /* width: 100%; */
     /* height: 45rem; */
    /* padding: 0%; */

/* } */




.main-heading-wrapper{
    position: relative;
    /* width: 100%;
    height: 100%; */
    text-align: center;
  
}

.main-heading-wrapper>img{
    width: 100%;
    height: 100%;
    
}

.main-heading{
    position: absolute;
    font-size: 4rem;
    /* padding-top: 4rem;
    padding-left: 2rem; */
    text-decoration: none;
    color: white;
    text-align: center;
    font-family: "Abril Fatface", sans-serif;
    top: 30%;
    left: 20%;
    transform: translate(-12%, -50%);
}

.main-para{
    position: absolute;
    font-family: 'Playfair Display', sans-serif;
    font-size: 18px;
    color: white;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}



.glow {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #f8971d;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
 .glow-link{
     text-decoration: none;
     color: white;
     font-size: 1.3rem;
     
 }
.glow:before {
    content: '';
    /* background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000); */
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow:active {
    color: #000;
}

.glow:active:after {
    background: transparent;
}

.glow:before {
    opacity: 1;
}

.glow:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f8971d;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.sliding{
    animation: sliding 1s linear forwards;
}

@keyframes sliding{
    0%{
        transform: translate(100px);
        opacity: 0;
    }

    100%{
        transform: translate(0px);
        opacity: 1;
    }
}  




@media (max-width:760px){
   body>*{

         overflow-x: hidden;
         
    }
    /* .landing-page{
        padding-top: 5rem ;
    } */
    .main-heading-wrapper{
        position: relative;
        /* width: 100%;
        height: 100%; */
        text-align: center;
      
    }
    
    .main-heading-wrapper>img{
        height: 60vh;
        /* transform: scale(1.1); */
        width: auto;

    }
    
    .main-heading{
        position: absolute;
        font-size: 2rem;
        /* padding-top: 4rem;
        padding-left: 2rem; */
        text-decoration: none;
        color: white;
        text-align: center;
        font-family: "Abril Fatface", sans-serif;
        top: 20%;
        left: 10%;
        transform: translate(-5%, -50%);
        padding-top: 2rem ;
    }

    .glow{
        margin-top: 3rem ;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    
}

@media screen and (min-device-width: 761px) and (max-device-width: 880px) { 
  body>*{
      overflow-x: hidden;
  }
    .video-container{
        height: auto;
        position: relative;
    }

    .main-heading-wrapper{
        bottom: 9rem;
    }
}
@media screen and (min-device-width: 881px) and (max-device-width: 1280px) { 
    .video-container{
        height: auto;
        position: relative;
    }
    .main-heading-wrapper{
        bottom: 9rem;
    }
}