@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Playfair+Display+SC&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Playfair+Display&family=Playfair+Display+SC&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lora:wght@500&family=Playfair+Display&family=Playfair+Display+SC&family=Poppins&display=swap');


body{
    z-index: -10;
}

.card{
    background-color: rgb(154, 219, 198);
}

.card img{
    width:100%;
    height: 100%;
    border-radius: 0%;

}

.card-body h2 {
    font-family: 'Abril Fatface', cursive;
    font-size: 50px;
    text-align: center;
}

.card-body h4{
    text-align: center;
    
}

.news-email{
    display:flex;
    align-items:center;
    height: 5rem;
    width: 60%;
    align-items: center;
    margin-left: 8rem;
    margin-top: 4rem;
}

.news-email input{
    margin-left: 5px;
    padding-left: 15px;
    padding: 10px;
    border-radius: 0px;
}

.news-email button{
    padding: 7px;
    border: 1px solid #222;
    padding-left: 10px;
    color: black;
    background-color: #fff;
    font-size: 20px;
    font-family:'Poppins', sans-serif;
    font-weight: 550;
}