  /* .toggle-wrapper{
      height: 65vh;
  }
   */

   .toggle-wrapper>h1{
       text-align: center;
       padding: 2rem 0;
   }
  .bloc-tabs {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    justify-content: center;
    align-items: center;
    padding-left: 5rem;
  }

  .tabs {
  
    padding: 15px;
    text-align: left;
    width: 13rem;
    cursor: pointer;
    box-sizing: content-box;
    position: relative;
    outline: none;
  }

  .tabs:hover{
    color: #f8971d;
    border-right: 3px solid #f8871d;
  }

  .content {
    width: 100%;
    /* height: 100%; */
    display: none;
    
  }

  .content p {
    width: 100%;
    height: 100%;
    font-weight: 600;
    padding-bottom: 1rem;
  }

  .active-content {
    display: block;
  }

  .testimonial-heading{
      padding: 0 4rem;
      border-right: 3px solid #f8971d;
      width: 90%;
  }

  @media (max-width:760px){
    .bloc-tabs {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        padding-left: 0;
      }

      .tabs{
          font-size: 1rem;
      }

      .content{
          padding:1rem 2rem
      }
  }

