

*{
    margin: 0;
    padding: 0;

}
 
.contactUs-container{
    width: 100%;
    height: 56rem;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(28,67,79,1) 35%, rgba(0,212,255,1) 100%);
    position: relative;
}
.form-container{
    width: 50%;
    color: rgb(80, 80, 80);
    background-color: rgb(224, 224, 224);
    position: absolute;
    top: 3rem;
    right: 3rem;
     padding-left: 1rem; 
    border-radius: 2rem;
    
}

.leftRight{
    display: flex;
    width: 100%;
    padding: 1rem 3rem 0;
}
.left {
     width: 50%;
}
.right{
    width: 50%;
}

input{
    width: 90%;
}

.company
{
    padding: 1rem 1rem 1rem 3rem;
    width: 100%;
}

 
.TextPlace{
    margin-left:3rem;
    margin-top: 1.5rem 0;
}

form>div{
    width: 100%;
}

textarea{
    width: 81%;
    border-radius: 0.5rem;
}

.submitbtn{
    margin :0.5rem 0.5rem 5rem  3rem;
    width: 81.7%;
}

.left>div{
    margin: 1.5rem 0;
}

.right>div{
    margin: 1.5rem 0;
}

.otherOptionsToConnect{
    width: 45%;
   padding-top: 3rem;
    padding-right: 3rem;
    padding-left: 6rem;
    text-align: end;
   font-family: 'poppins';
    color: rgb(202, 201, 201);
}

.otherOptionsToConnect>div{
    padding: 2rem 0;

}

.otherOptionsToConnect>div>p{
    color: rgb(189, 189, 168);
}

input{
    border-radius: 0.5rem;
    border: 1px solid #1A4E5C;
}