

*{
    margin: 0;
    padding: 0;

}
 
.contactUs-container{
    width: 100%;
    height: 56rem;
    background: rgb(2,0,36);
    position: relative;
   background-image: linear-gradient( 135deg, #FAD7A1 10%, #E96D71 100%);
}
.category-container{
    width: 50%;
    position: absolute;
    top: 3rem;
    right: 3rem;
    padding: 2rem 2rem;
    display:flex;
    flex-direction:column;

    
}

.category-card{
    height: 20rem;
    background-color: #fff;
}

.category-card h5 {
    font-size: 2rem;
}

.category-card p {
    margin-top: 1rem;
    font-size: 1rem;
}

.category-card .category-btn{
    width: 100%;
    background-color: rgb(149, 149, 240);
    border: 1px  rgb(149, 149, 240) ;
    color: black;
    font-weight:500 ;
}

.category-card .category-btn:hover{
    background-color: #1A4E5C;
    animation: 2s ease-out;
    color: white;
}

.category-card .category-btn:active{
    background: transparent;
    border: 2px #1A4E5C;
    color: black;
    font-weight: 500;
}

.category-card h5 span{
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.leftRight{
    display: flex;
    width: 100%;
    padding: 1rem 3rem 0;
}
.left {
     width: 50%;
}
.right{
    width: 50%;
}

input{
    width: 90%;
}

.company
{
    padding: 1rem 1rem 1rem 3rem;
    width: 100%;
}

 
.TextPlace{
    margin-left:3rem;
    margin-top: 1.5rem 0;
}

form>div{
    width: 100%;
}

textarea{
    width: 81%;
    border-radius: 0.5rem;
}

.submitbtn{
    margin :0.5rem 0.5rem 5rem  3rem;
    width: 81.7%;
}

.left>div{
    margin: 1.5rem 0;
}

.right>div{
    margin: 1.5rem 0;
}

.otherOptionsToConnect{
    width: 45%;
   padding-top: 3rem;
    padding-right: 3rem;
    padding-left: 6rem;
    text-align: end;
   font-family: 'poppins';
    color: #000;
}

.otherOptionsToConnect h1{
    font-family:'Lora', sans-serif;
}

.otherOptionsToConnect>div{
    padding: 2rem 0;

}

.otherOptionsToConnect>div>p{
    color:black;
}

input{
    border-radius: 0.5rem;
    border: 1px solid #1A4E5C;
    
}