
.footer-wrapper{
    width: 100%;
     padding: 3rem 0;
    text-align: center;
    background-color: rgb(7, 7, 7);
  }
  
  .column-wrapper{
    display: flex; 
    color:#fff;
    width: 100%;
  }
  
  .column-wrapper>.column{
     
      display: grid;
      text-align: center;
      
  }
  
  .column >a{
    text-decoration: none;
    color: #fff;
    margin: 10px 5px;
  }
  
  .column >a:hover{
    color: rgb(79, 79, 252);
  }
  
   .Links{
     display: flex;
     color: #fff;
     justify-content: center;
     align-items: center;
  
   }
   .link{
     padding: 0 3rem;
     color: #fff;
  
   }
  .footer-wrapper >h1{
     
    color: #fff;
    text-align: center;
     padding: 2rem 20rem;
  }
  .column-wrapper h6{
     margin-top: 3rem;
    font-family: 'poppins','serif';
    font-weight: lighter;
     font-size: small;
  }
   
  @media (max-width:760px){

    .footer-wrapper>h1{
      margin: 0;
      padding: 1rem ;

    }
    .column-wrapper{
      padding: 3rem;
    }
    .column-wrapper>.column{
      padding: 1rem;
    }
    .Links{
      display: flex;
      color: #fff;
      justify-content: center;
      align-items: center;
      padding-top:2rem ;
    }
    .link{
      padding: 1rem 1rem;
      font-size: 10px;
      color: #fff;
    }
  }
  @media screen and (min-device-width: 761px) and (max-device-width: 960px) { 
   
    .footer-wrapper >h1{
     
      color: #fff;
      text-align: center;
      font-size: 2.5rem;
       padding: 2rem  3rem;
    }
    .link{
      padding: 2rem;
      font-size: 0.9rem;
      color: #fff;
    }
    .column-wrapper{
      padding: 3rem;
    }
  }