  /* .toggle-wrapper{
      height: 65vh;
  }
   */
.influencer-tab{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.influencer-tab>button{
  margin: 0;
  padding: 0;
  width: 15rem;
  height: 4rem;
  margin-top: 3rem;
  background-color: #f8971d;
  border-radius: 5px;
  border: none;
  outline: none;
}

.influencer-tab>button:hover{
  background: transparent;
  border: 2px solid #f8971d;
  transform: scaleX(1.1);
  transition: .1s ease-in-out;
}

.brand-tab{
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-tab>button{
  margin: 0;
  padding: 0;
  width: 15rem;
  height: 4rem;
  margin-top: 3rem;
  background-color: #f8971d;
  border-radius: 5px;
  border: none;
  outline: none;
}

.brand-tab>button:hover{
  background: transparent;
  border: 2px solid #f8971d;
  transform: scaleX(1.1);
  transition: .1s ease-in-out;
}

.toggle-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}


.bloc-tabs1 {
    text-align: center;
}

.tabs1 {

 padding: 10px;
 text-align: center;
 cursor: pointer;
 box-sizing: content-box;
 position: relative;
 outline: none;
}

/* .tabs1:hover{
 background-color: #f8971d;
 color: white;
} */

.content1 {
 width: 100%;
 /* height: 100%; */
 display: none;
 
}

.content1 p {
 width: 100%;
 font-weight: 600;
 padding-bottom: 1rem;
}

.active-content1 {
 display: block;
}

.testimonial-heading{
   padding: 0 4rem;
   border-right: 3px solid #f8971d;
   width: 90%;
}

@import url('https://fonts.googleapis.com/css?family=Yantramanav:100,300');

/* ------------- */
/* GLOBAL STYLES */
/* ------------- */


ul {
  list-style: none;
  padding: 0;
}

.brand {
  text-align: center;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.brand span {
  color: #ffffff;
}

.wrapper {
  box-shadow: 0 0 20px 0 rgba(0, 18, 78, 0.7);
  padding:3rem 3rem;
  background: url("https://images.unsplash.com/photo-1649975293617-73a4330ad1ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MjB8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-repeat: no-repeat;
  background-size: cover;
}


/* .wrapper > * {
  padding: 1em;
} */

/* ------------------- */
/* COMPANY INFORMATION */
/* ------------------- */

.company-info {
  background: #C3C9DD;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.company-info h3,
.company-info ul {
  text-align: center;
  margin: 0 0 1rem 0;
}

/* ------- */
/* CONTACT */
/* ------- */

.contact {
  background: #f8971d;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* ---- */
/* FORM */
/* ---- */


.touch-form{
    display: flex;
    flex-direction: column;
    /* padding-right: 1rem; */
    justify-content: space-around;
}



/* .contact form label {
  display: block;
} */

.contact form p {
  margin: 0;
}

.contact form .full {
  grid-column: 1 / 3;
  margin-top: 2rem;
}

.brand-radio{
    display: flex;
    flex-direction: column;
}

.contact form button,
.contact form .input1,
.contact form textarea {
  width: 100%;
  padding: 0;
  border: solid 1px #627EDC;
  border-radius: 4px;
  /* margin: 1rem; */
}

.contact form textarea {
  resize: none;
}

.contact form button {
  background: #627EDC;
  border: 0;
  color: #e4e4e4;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.contact form button:hover,
.contact form button:focus {
  background: #3952a3;
  color: #ffffff;
  outline: 0;
  transition: background-color 2s ease-out;
}

/* ------------- */
/* MEDIA QUERIES */
/* ------------- */

@media only screen and (min-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0;
  
  }

  .wrapper > * {
    padding: 2em;
  }

  .company-info {
    border-radius: 4px 0 0 4px;
  }

  .contact {
    border-radius: 0 4px 4px 0;
    margin: 0;
    
  }

  .company-info h3,
  .company-info ul,
  .brand {
    text-align: left;
  }
}

@media (max-width:760px){
 .bloc-tabs {
     flex-direction: row;
     justify-content: center;
     align-items: center;
     margin-left: 0;
     padding-left: 0;
   }

   .tabs{
       font-size: 1rem;
   }

   .content{
       padding:1rem 2rem
   }
}

