.Blue{
    text-align: center;
    background-color: black;
}

.Blue-heading>h1{
    font-size: 4rem;
    padding: 0 3rem;
    color: white;
}

.Blue-img>img{
    padding: 3rem;
}

.Green{
    
    background-color: black;
}

.Green-heading{
    font-size: 8rem;
    color: white;
    padding: 4rem 2rem;
    font-family: 'Abril Fatface';
    text-align: center;
}

.Green-body>h1{
    font-size: 2rem;
    padding: 0 1rem;
    color: white;
    text-align: left;
}

.Green-body>p{
    text-align: left;
    color: white;
    padding: 2rem 1rem;
    font-size: 1.3rem;

}

.Green-body button{
    background-color: blue;
    width: 13rem;
    height: 3rem;
    border: none;
    outline: none;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    align-items: left;
    margin-left: 1rem;

}

.Green-img>img{
    width: 100%;
    height: 100%;
    padding: 0 4rem 3rem;
}

.Purple{
    background-color: black;
}

.Purple-heading{
    padding: 2rem 10rem;
}

.Purple-heading>h1{
    text-align: center;
    padding: 3rem;
    color: white;
    font-size: 3.3rem;
}

.Purple-heading>p{
    color: white;
    font-size: 1.3rem;
    text-align: center;
    padding: 3rem;
    font-family: 'Poppins';
}

.Yellow-head1>h1{
    text-align: center;
    padding: 2rem;
}

.Yellow-head2>h1{
    text-align: center;
    padding: 2rem;
}

.Yellow-accord{
    padding: 0rem 4rem 3rem;
}

.Yellow-Progress{
    margin-left: 5.5rem;
    padding: 0 0 3rem;
}

.Yellow-Progress>h2{
    font-size: 1.3rem;
}

.Yellow-height{
    height: 4px;
    width: 25rem;
}

.Orange{
    background-color: black;
}

.Orange-container{
    padding-top: 3rem ;
}

.Orange-body{
    padding: 5rem 0;
}

.Orange-body>h1{
    color: Pink;
    text-align: center;
    font-size: 3rem;
}

.Orange-body>p{
    color: white;
    text-align: left;
    padding: 2rem 4rem 3rem;
    font-size: 1.4rem;
    font-weight: 500;
}

.Red{
    background-color: black;
}



.Red-img>img{
    padding: 4rem;
}

.Red-body>h1{
    color: rgb(245, 183, 14);
    margin-top: 8rem;
    padding: 2rem 4rem ;
    font-size: 4rem;
}

.Red-body>p{
    color: white;
    padding: 0 4rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.Grey-container{
    background-color: black;
}


.Grey-img>img{
    width: 100%;
}

.Grey-body>h1{
    padding: 3rem;
    font-size: 2rem;
    color: rgb(245, 183, 14);
}



/* svg {
    width: 114px;
    height: 114px;
    margin: 1em;
  }
  
  .bg {
    fill: none;
    stroke-width: 5px;
    stroke: #1A2C34;
    width: 19rem;
    height: 5px;
  }
  
  [class^="meter-"] {
    fill: none;
    stroke-width: 10px;
    stroke-linecap: round;
    transform: rotate(-10deg);
    transform-origin: 50% 50%;
    
  }
  
  .meter-1 {
    stroke-dasharray: 360;
    stroke-dashoffset: 100;
    stroke: aqua;
    animation: progress-1 1s ease-out;
  }

  @keyframes progress-1 {
    from {
        stroke-dashoffset: 360;
    }
    to {
        stroke-dashoffset: 100;
    }
} */


@media (max-width:760px){
    .Blue-heading>h1{
        font-size: 2.7rem;
        padding: 0 3rem;
        color: white;
    }
    
    .Blue-img>img{
        width: 100%;
    }

    .Green-heading{
        font-size: 4rem;
        color: white;
        padding: 4rem 2rem;
        font-family: 'Abril Fatface';
        text-align: center;
    }
    
    .Green-body>h1{
        font-size: 1.6rem;
        padding: 0 1rem;
        color: white;
        text-align: center;
    }
    
    .Green-body>p{
        text-align: left;
        color: white;
        padding: 2rem 2rem;
        font-size: 1.3rem;
    
    }
    
    .Green-body button{
        width: 75%;
        align-items: center;
        justify-content: center;
        margin-left: 2rem;
        margin-bottom: 2rem;
    
    }

    .Purple-heading{
        padding: 1rem 2rem;
    }
    
    .Purple-heading>h1{
        text-align: left;
        padding: 1rem;
        color: white;
        font-size: 2.6rem;
    }
    
    .Purple-heading>p{
        color: white;
        font-size: 1.3rem;
        text-align: left;
        padding: 1rem;
        font-family: 'Poppins';
    }

    .Yellow-Progress{
        margin: 0 2rem;
        padding: 0 0 3rem;
    }
    
    .Yellow-Progress>h2{
        font-size: 1.2rem;
    }
    
    .Yellow-height{
        height: 4px;
        width: 20rem;
    }

    .Yellow-head1>h1{
        text-align: center;
        padding: 2rem;
        font-size: 2rem;
        font-weight: 700;
    }
    
    .Yellow-head2>h1{
        text-align: center;
        padding: 2rem;
        font-size: 2rem;
        font-weight: 700;
    }
    
    .Orange-body{
        padding: 0rem 0;
    }
    
    .Orange-body>h1{
        color: Pink;
        text-align: center;
        font-size: 3rem;
    }
    
    .Orange-body>p{
        color: white;
        text-align: left;
        padding: 2rem 2rem 2rem;
        font-size: 1.2rem;
        font-weight: 500;
    }

    .Red-img>img{
        width: 100%;
        padding: 1rem;
    }
    
    .Red-body>h1{
        color: rgb(245, 183, 14);
        margin-top: 1rem;
        padding: 1rem 2rem ;
        font-size: 2.4rem;
    }
    
    .Red-body>p{
        color: white;
        padding: 0 2rem 2rem;
        font-size: 1.1rem;
        font-weight: 500;
    }
}