
.influencerPage-wrapper{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(253,239,132,1) 0%, rgba(247,198,169,1) 54.2%, rgba(21,186,196,1) 100.3% );
    animation: gradient 10s ease infinite;
    padding: 8rem 0;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

 

.infy-heading h1{
    font-size: 6rem;
    text-align: center;
    padding-top: 4rem;
    font-family: 'Lora', sans-serif;

}

.infy-heading p{
    font-size: 2rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #111;
}

.form-wrapper{
    background-color: aquamarine;
     
    width: 50vw;
    margin-left: 13rem;
    border-radius: 10px;
    padding: 5rem;
    overflow: hidden;
}

.form-wrapper .instaId{
    position: relative;
    margin-top: 2rem;
}

.instaId input{
    width:100%;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    border-radius: 0;
    background: transparent;
    margin-bottom: 30px;
    padding: 10px 0;
}

.instaId label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    color: black;
    pointer-events: none;
    transition: .5s;
    font-weight: 600;

}

.form-wrapper .instaId input:focus ~ label,
.form-wrapper .instaId input:valid ~ label{
    top: -20px;
  left: 0;
  color: #000;
  font-size: 12px;
}

.form-check label{
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.submit-button{
    width: 100%;
    height: 3rem;
    margin-top: 2rem;
    border: 1px solid  rgb(139, 230, 233);
    outline: none;
    background-color: rgb(95, 157, 228);
    

}

.submit-button .submit-link{
    text-decoration: none;
    font-size: 1.3rem;
    color: black;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
}
